body {
  margin: 0;
  padding: 0;
}

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  &.init {
    visibility: visible;
  }
}

.carousel-page {
  box-sizing: border-box;
  float: left;

  & img {
    width: 100%;
  }

  &:last-child:after {
    display: block;
    content: "";
    clear: both;
  }
}

.carousel-animated {

}